body {
    background-color: #000; 
    color: #000; 
}

.bg-darkgreen {
    background-color: #00FF00; 
}

.jumbotron {
    background-color: #00FF00; 
    color: black;
    padding: 100px 0;
}
.jumbotron h1 {
    font-weight: bold;
}

.feature-box {
    background-color: #1c1c1c; 
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.feature-box i {
    color: #1db954; 
}

.feature-box h3 {
    margin-top: 20px;
    font-size: 1.5rem;
}

.feature-box p {
    margin-top: 10px;
    font-size: 1rem;
}

.btn-primary {
    background-color: #1db954; 
    border: 1px solid #000; 
}

.btn-primary:hover {
    background-color: #1a9b48; 
}

.social-icons a {
    font-size: 1.5rem;
}